
{% extends 'base.html.twig'%}
  {% block contenue %}
  <center><h1> Liste des stages proposé par {{entreprise_ID}} </h1></center>
  <table class="table">
				<thead>
					<tr>

						<th>
							Stage
						</th>
						<th>
							Entreprise
						</th>
						<th>
						  Formation
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Stage 1
						</td>
						<td>
							{{entreprise_ID}}
						</td>
						<td>
						 DUT info
						</td>

					</tr>

				</tbody>
			</table>


  {% endblock %}
