
{% extends 'filtretemp.html.twig'%}
  {% block body %}
  <center><h1> Cette page affichera la liste des stages trié par Entrerpises </h1></center>
<table>

  <center><tr>
      <td><a href="http://127.0.0.1:8000/stages/stage_1"> Entreprise 1 </a></td>
      <td>Stage 1</td>

  </tr></center>


  {% endblock %}
