{% extends 'base.html.twig'%}
{% block contenue %}
<ul>
{% for EntrerpriseCourante in entreprises %}

				<li class="list-item">
					<a href="{{path('pro_stage_entreprise',{entreprise_ID:EntrerpriseCourante.id})}}">
					{{EntrerpriseCourante.nom}}
					</a>
				</li>

{% endfor %}

			</ul>

	{% endblock %}
