
{% extends 'base.html.twig'%}
{% block contenue %}
  <!-- Affichage sous forme de liste des formations contenue dans les stages   ! -->
<ul>
{% for formationCourante in formations %}

				<li class="list-item">
					<a href="{{path('pro_stage_formations',{formation_ID:formationCourante.id})}}">{{formationCourante.nom}}</a>
				</li>
{% endfor %}
			</ul>

	{% endblock %}
