{% extends 'base.html.twig'%}
{% block contenue %}
      <table class="table">
    				<thead>
    					<tr>
    						<th>
    							Entreprise
    						</th>
    						<th>
    						  Option
    						</th>
    					</tr>
    				</thead>

            {% for EntrerpriseCourante in entreprises%}

          				<tbody>
          					<tr>
          						<td>
                      <a href="{{path('pro_stage_entreprise',{entreprise_ID:EntrerpriseCourante.id})}}">
            					{{EntrerpriseCourante.nom}}
            					</a>
          						</td>
          						<td>
                  <a href="{{path('pro_stage_modifierEntreprise',{id:EntrerpriseCourante.id})}}"> Modifier </a>

          						</td>

          					</tr>

          				</tbody>


                  {% endfor %}
    			</table>

	{% endblock %}
