{% extends 'base.html.twig'%}
  {% block contenue %}
  <table class="table">
				<thead>
					<tr>

						<th>
							Stage
						</th>
						<th>
							Entreprise
						</th>
						<th>
						  Formation
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Stage 1
						</td>
						<td>
							Capgemini
						</td>
						<td>
						 DUT info
						</td>

					</tr>

				</tbody>
        <tbody>
					<tr>
						<td>
							Stage 1
						</td>
						<td>
							Capgemini
						</td>
						<td>
						 DUT info
						</td>

					</tr>

				</tbody>
        <tbody>
					<tr>
						<td>
							Stage 1
						</td>
						<td>
							Capgemini
						</td>
						<td>
						 DUT info
						</td>

					</tr>

				</tbody>
        <tbody>
					<tr>
						<td>
							Stage 1
						</td>
						<td>
							Capgemini
						</td>
						<td>
						 DUT info
						</td>

					</tr>

				</tbody>
        <tbody>
					<tr>
						<td>
							Stage 1
						</td>
						<td>
							Capgemini
						</td>
						<td>
						 DUT info
						</td>

					</tr>

				</tbody>
        
			</table>




  {% endblock %}
