{% extends 'base.html.twig'%}
  {% block contenue %}
  <table class="table">
  <thead>
    <tr>
      <th>
        Stage
      </th>
      <th>
        Entreprise
      </th>
      <th>
        Formation
      </th>
    </tr>
  </thead>

  {% for StageCourant in stages%}

				<tbody>
					<tr>
						<td>
							<a href="{{path('pro_stage_stages',{id:StageCourant.id})}}"> {{StageCourant.nom}} </a>
						</td>


						<td>
							{{StageCourant.Entreprise.nom}}
						</td>


						<td>
            {% for formationCourante in StageCourant.Formation %}

            {{formationCourante.nom}}
            {% endfor %}

						</td>

					</tr>

				</tbody>


        {% endfor %}


			</table>




  {% endblock %}
