<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {formation_ID} {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <center>

        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
